{% extends "base.html" %}

{% block content %}

    {% include "todo/includes/header-bar.html" %}

    <h2>All Tasks:</h2>

    <ul class='list-group mb-3'>
        {% for task in task_list %}
            <li class='list-group-item'>
                <strong>Title: {{ task.title }}</strong>
                <br>
                <strong>Description:</strong> {{ task.description | safe }}
                <strong>User:</strong> {{task.user}} 
                <br> <br>

                <a href="{% url 'task-detail' task.id %}" class="btn btn-primary">View</a>
                <a href="{% url 'task-edit' task.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'task-remove' task.id %}" class="btn btn-danger">Remove</a>
             </li>
        {% endfor %}
    </ul>

    <a href="{% url 'task-add' %}">
        <button class="btn btn-secondary">Back</button>
    </a>

{% endblock content %}