{% extends "base.html" %}

{% block content %}

    {{ user|title }} 
    {% if user.is_staff %}(Admin){% endif %}
    <br>
    <a href="{% url 'logout' %}">Logout</a>

    <h2>All Tasks:</h2>

    <ul>
        {% for task in task_list %}
            <li>
                <strong>Title: {{ task.title }}</strong>
                <br>
                <strong>Description:</strong> {{ task.description }}
                <br>
                <strong>User:</strong> {{task.user}} 
                <br>


                <a href="{% url 'task-detail' task.id %}">View</a>
                <a href="{% url 'task-edit' task.id %}">Edit</a>
                <a href="{% url 'task-remove' task.id %}">Remove</a>
                <br> <br>


            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'task-add' %}">
        <button>Back</button>
    </a>

    {% comment %} <button onclick='history.back()'>Back</button> {% endcomment %}

{% endblock content %}