{% extends "base.html" %}

{% block content %}

    {% include "todo/includes/header-bar.html" %}

    <div class='card mb-3'>
        <div class='card-body'>
            <h2>Title: {{ task.title }}</h2>
            <strong>Description:</strong> {{ task.description | safe }} <br>

            {% if user != task.user %}
                <strong>User:</strong> {{ task.user }} <br>
            {% endif %}
            <br><br>
        </div>
    </div>

    <button onclick='history.back()' class="btn btn-secondary">Back</button>

{% endblock content %}