{% extends "base.html" %}

{% block content %}

    {% include "todo/includes/header-bar.html" %}

    <h2>My Tasks:</h2>

    <ul id="sortable-list" class='list-group mb-3'>
        {% for task in task_list %}
            <li class='list-group-item' data-task-id="{{ task.id }}">
                <strong>Title: {{ task.title }}</strong>
                <br>
                <strong>Description:</strong> {{ task.description | safe }}
                 
                <a href="{% url 'task-detail' task.id %}" class="btn btn-primary">View</a>
                <a href="{% url 'task-edit' task.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'task-remove' task.id %}" class="btn btn-danger">Remove</a>
            </li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'task-add' %}">
        <button class="btn btn-secondary">Back</button>
    </a>
    
    <script>
        $(document).ready(function() {
            $("#sortable-list").sortable({
                update: function(event, ui) {
                    var taskOrder = [];
        
                    $("#sortable-list li").each(function(index) {
                        var taskId = $(this).data("task-id");
                        taskOrder.push(taskId);
                    });
        
                    $.ajax({
                        type: "POST",
                        url: "{% url 'update-task-order' %}",
                        data: {
                            'task_order[]': taskOrder,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function(data) {
                            console.log("Tasks sorted successfully!");
                        },
                        error: function() {
                            console.error("AJAX request failed.");
                        }
                    });
                }
            });
        });        
    </script>
    
{% endblock content %}

